{%- assign previous_size = page.previous.title | size -%}
{%- assign next_size = page.next.title | size -%}
<div class="pagination">
  <div class="prev">
    {% if page.previous != nil %}
      <a href="{{- page.previous.url | absolute_url -}}">
    {% else %}
      <a href="#" class="disabled">
    {% endif %}
    <span class="icon fa-chevron-left"></span>&nbsp;이전글</a>
    {% if previous_size < 10 and next_size < 10%}
    <p>{{- page.previous.title -}}</p>
    {% endif %}
  </div>
  <div class="next">
    {% if page.next != nil %}
      <a href="{{- page.next.url | absolute_url -}}">
    {% else %}
      <a href="#" class="disabled">
    {% endif %}
    다음글&nbsp;<span class="icon fa-chevron-right"></span></a>
    {% if previous_size < 10 and next_size < 10%}
    <p>{{- page.next.title -}}</p>
    {% endif %}
  </div>
</div>
