<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SimpleWebView.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>03B8F5AF6CD804063FBCCEA483E489E2F888BDDE</string>
				<key>dateExpires</key>
				<string>2021. 5. 10.</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VTYK4TSJ6X.com.humuson.simplewebview</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VTYK4TSJ6X</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>VTYK4TSJ6X.com.humuson.simplewebview</string>
				</array>
			</dict>
			<key>name</key>
			<string>SimpleWebView.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e1eb2fae-3eb9-4154-b5bd-28b955669741</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.humuson.simplewebview</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VTYK4TSJ6X</string>
				<key>name</key>
				<string>Humuson Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
