// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify;
  span {
    background: #00aba9
    color: #fff;
    border-radius: .4em;
  }
}
#archives {
}
.archive-group {
  margin-left: 5px;
  h3 {
    margin-top: 20px;
  }
}
.archive-item {
  margin-left: 10px;
}
.post-tags {
  float: left;
}
.tag-img {
  width: 23px;
  float: left;
  margin: 0 10px 0 0;
  padding: 5px 0 0 0;
}
