// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify;
  li {
    display: inline-block;
    margin: 0 12px 12px 0;
  }
}
#archives {
}
.archive-group {
  margin-left: 5px;
  h3 {
    margin-top: 5px;
  }
}
.archive-item {
  margin-left: 10px;
}
.post-tags {
  float: left;
}
.tag-img {
  width: 23px;
  float: left;
  margin: 0 10px 0 0;
  padding: 5px 0 0 0;
}
