---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	{%- if page.auto-header != "none" -%}
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
			{{- content -}}
	  </div>
	</article>
	{% else %}
	<article class="shade-two" style="padding-top: 60px;">
		<div class="container">
			{{- content -}}
		</div>
	</article>
	{%- endif -%}
</div>
