---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	{%- if page.auto-header != "none" -%}
	<!-- Meta Tag -->
	<meta property="og:image" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}" />
	<meta name="twitter:image" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
			</header>
			{{- content -}}
	  </div>
	</article>
	{% else %}
	<section class="shade-two" style="padding-top: 0px;">
		<div class="container">
			<header></header>
			{{- content -}}
		</div>
	</section>
	{%- endif -%}
</div>
