---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container" itemscope="" itemtype="http://schema.org/BlogPosting">
			<!-- Structured Data -->
			<div itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
		    <meta itemprop="name" content="{{- site.author -}}">
		    <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
		      <meta itemprop="url" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}">
		    </div>
		  </div>
			<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
		    <meta itemprop="name" content="{{- site.author -}}">
		    <meta itemprop="url" content="{{- '/' | absolute_url -}}">
		  </div>
			<div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
				{% if page.tags == "Android" %}
				<meta itemprop="url" content="{{- 'assets/images/2018-03-08/1.png' | absolute_url -}}">
				{% elseif page.tags == "iOS" %}
				<meta itemprop="url" content="{{- 'assets/images/2018-03-08/2.png' | absolute_url -}}">
				{% elseif page.tags == "GoogleAppExcellence" %}
				<meta itemprop="url" content="{{- 'assets/images/2018-02-27/google.png' | absolute_url -}}">
				{% elseif page.tags == "Unity" %}
				<meta itemprop="url" content="{{- 'assets/images/2018-03-05/0.jpg' | absolute_url -}}">
				{% else %}
				<meta itemprop="url" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}">
				{% endif %}
			</div>
			<meta itemprop="datePublished" content="{{ page.date }}">
			<meta itemprop="dateModified" content="{{ page.date }}">
			<meta itemprop="mainEntityOfPage" content="{{- '/' | absolute_url -}}">
			<!-- Content -->
			<header>
				<h2 itemprop="headline">{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
				{% include tags.html %}
			</header>
	    {{- content -}}
			<br>
			{% include comments.html %}
			<br>
			{% include pagination.html %}
	  </div>
	</article>
</div>
