---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container" itemscope="" itemtype="http://schema.org/BlogPosting">
			<!-- Structured Data -->
			<div itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
		    <meta itemprop="name" content="{{- site.author -}}">
		    <div itemprop="logo" itemscope="" itemtype="http://schema.org/ImageObject">
		      <meta itemprop="url" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}">
		    </div>
		  </div>
			<div itemprop="author" itemscope="" itemtype="http://schema.org/Person">
		    <meta itemprop="name" content="{{- site.author -}}">
		    <meta itemprop="url" content="{{- '/' | absolute_url -}}">
		  </div>
			<div itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
				{% assign flag = "null" %}
				{% for tag in page.tags %}
					{% if tag == "Android" %}
						{% assign flag = "Android" %}
						{% break %}
					{% elsif tag == "iOS" %}
						{% assign flag = "iOS" %}
						{% break %}
					{% elsif tag == "GoogleAppExcellence" %}
						{% assign flag = "GoogleAppExcellence" %}
						{% break %}
					{% elsif tag == "Unity" %}
						{% assign flag = "Unity" %}
						{% break %}
					{% elsif tag == "Web" %}
						{% assign flag = "Web" %}
						{% break %}
					{% endif %}
				{% endfor %}
				{% if flag == "Android" %}
				<meta itemprop="url" content="{{- 'assets/images/tags/android.png' | absolute_url -}}">
				<meta property="og:image" content="{{- 'assets/images/tags/android.png' | absolute_url -}}" />
				<meta name="twitter:image" content="{{- 'assets/images/tags/android.png' | absolute_url -}}">
				{% elsif flag == "iOS" %}
				<meta itemprop="url" content="{{- 'assets/images/tags/ios.png' | absolute_url -}}">
				<meta property="og:image" content="{{- 'assets/images/tags/ios.png' | absolute_url -}}" />
				<meta name="twitter:image" content="{{- 'assets/images/tags/ios.png' | absolute_url -}}">
				{% elsif flag == "GoogleAppExcellence" %}
				<meta itemprop="url" content="{{- 'assets/images/tags/android.png' | absolute_url -}}">
				<meta property="og:image" content="{{- 'assets/images/tags/android.png' | absolute_url -}}" />
				<meta name="twitter:image" content="{{- 'assets/images/tags/android.png' | absolute_url -}}">
				{% elsif flag == "Unity" %}
				<meta itemprop="url" content="{{- 'assets/images/tags/unity.jpg' | absolute_url -}}">
				<meta property="og:image" content="{{- 'assets/images/tags/unity.jpg' | absolute_url -}}" />
				<meta name="twitter:image" content="{{- 'assets/images/tags/unity.jpg' | absolute_url -}}">
				{% elsif flag == "Web" %}
				<meta itemprop="url" content="{{- 'assets/images/tags/web.png' | absolute_url -}}">
				<meta property="og:image" content="{{- 'assets/images/tags/web.png' | absolute_url -}}" />
				<meta name="twitter:image" content="{{- 'assets/images/tags/web.png' | absolute_url -}}">
				{% else %}
				<meta itemprop="url" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}">
				<meta property="og:image" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}" />
				<meta name="twitter:image" content="{{- 'assets/images/favicons/favicon-144.png' | absolute_url -}}">
				{% endif %}
			</div>
			<meta itemprop="datePublished" content="{{ page.date }}">
			<meta itemprop="dateModified" content="{{ page.date }}">
			<meta itemprop="mainEntityOfPage" content="{{- '/' | absolute_url -}}">
			<meta itemprop="headline" content="{{- page.title -}}">
			<!-- Content -->
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
				{% include tags.html %}
			</header>
			{% if flag == "Android" %}
				{%- include banner_android.html -%}
			{% elsif flag == "iOS" %}
				{%- include banner_ios.html -%}
			{% elsif flag == "GoogleAppExcellence" %}
				{%- include banner_android.html -%}
			{% elsif flag == "Unity" %}
				{%- include banner_unity.html -%}
			{% elsif flag == "Web" %}
				{%- include banner_web.html -%}
			{% endif %}
	    {{- content -}}
			<br>
			{% include comments.html %}
			<br>
			{% include pagination.html %}
	  </div>
	</article>
</div>
